<mat-card class="navigation"  [ngClass]="{'dark-theme' : darkMode, 'light-theme': !darkMode}">
    
    <div class="navigation-container">
        <mat-icon routerLink="/main" class="logo clickable">logo_dev</mat-icon>
        <div *ngIf="mobileBrowser"><mat-icon>smartphone</mat-icon></div>
        <div *ngIf="!mobileBrowser"><mat-icon>computer</mat-icon></div>
        
        <h2 class="user-profile mat-body" *ngIf="userData">
            {{userData.firstname}} {{userData['lastname']}}
        </h2>

        <button mat-button [matMenuTriggerFor]="language">
            {{'common.language.selectedLanguage' | translate}}
        </button>
        <mat-menu #language="matMenu">
            <button mat-menu-item (click)="setLanguage('en')">
                ENG
            </button>
            <button mat-menu-item (click)="setLanguage('sr')">
                SRB
            </button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">

            <button mat-menu-item (click)="toggleDarkMode()">
                <mat-icon>dark_mode</mat-icon>
                <span *ngIf="!darkMode">Dark mode</span>
                <span *ngIf="darkMode">Light mode</span>
            </button>

            <button mat-menu-item (click)="visitProfile(userData)">
                <mat-icon>person</mat-icon>
                <span>Visit profile</span>
            </button>
            <button mat-menu-item (click)="updateUser()">
                <mat-icon>person</mat-icon>
                <span>Update profile</span>
            </button>

            <button mat-menu-item (click)="logOut()">
                <mat-icon>logout</mat-icon>
                <span>Log out</span>
            </button>

        </mat-menu>
    </div>
        

</mat-card>