mat-card.navigation{
    padding: 1px !important;
}

.navigation-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .user-profile{
        margin-left: 10px;
    }
    mat-icon.logo{
        margin-left: 15px;
        margin-right: auto;
    }
}