<div class="wrapper">

    <div class="dark-theme">
        
    <div class="primary"> <span>primary</span> </div>
    <div class="accent-color">accent-color</div>
    <div class="warn-color">warn-color</div>
    <div class="base-color">base-color</div>
    <div class="divider-color">divider-color</div>
    <div class="dividers-color">dividers-color</div>
    <div class="disabled-color">disabled-color</div>
    <div class="disabled-text-color">disabled-text-color</div>
    <div class="hint-text-color">hint-text-color</div>
    <div class="secondary-text-color">secondary-text-color</div>
    <div class="icon-color">icon-color</div>
    <div class="icons-color">icons-color</div>
    <div class="text-color">text-color</div>
    <div class="slider-off-color">slider-off-color</div>
    <div class="slider-off-active-color">slider-off-active-color</div>
    <div class="status-bar-color">status-bar-color</div>
    <div class="app-bar-color">app-bar-color</div>
    <div class="background-color">background-color</div>
    <div class="hover-color">hover-color</div>
    <div class="card-color">card-color</div>
    <div class="dialog-color">dialog-color</div>
    <div class="disabled-button-color">disabled-button-color</div>
    <div class="raised-button-color">raised-button-color</div>
    <div class="focused-button-color">focused-button-color</div>
    <div class="selected-button-color">selected-button-color</div>
    <div class="selected-disabled-button-color">selected-disabled-button-color</div>
    <div class="disabled-button-toggle-color">disabled-button-toggle-color</div>
    
</div>

</div>