
<mat-card  class="wrapper-request-password" [ngClass]="{'dark-theme' : darkMode, 'light-theme': !darkMode}">
    <h1 mat-dialog-title>Enter your current password</h1>
    
    
        <form  [formGroup]="validatePasswordForm">
        <mat-form-field>
            <input matInput formControlName = "password" >
            <mat-error *ngIf='validatePasswordForm.controls.password.hasError("required")'
            >{{"common.user.errorMessages.passwordIsRequired" | translate}}</mat-error>
            <mat-error *ngIf='validatePasswordForm.controls.password.hasError("wrongPassword")'
            >{{"common.user.errorMessages.wrongPassword" | translate}}</mat-error>
            <mat-error *ngIf='validatePasswordForm.controls.password.hasError("minlength")'
            >{{"common.user.errorMessages.minlength6" | translate}}</mat-error>
            
        </mat-form-field>
    </form>

<div class="btn-container" >
  <button mat-flat-button color="warn" mat-dialog-close >Cancel</button>
  <button mat-flat-button color="primary" (click)="validatePassword()" [disabled]="!validatePasswordForm.valid">Ok</button>
</div>
</mat-card>