<div class="wrapper-user-profile" [ngClass]="{'dark-theme' : darkMode, 'light-theme': !darkMode}">

    <div class="navigation">
        <app-navigation [userData]="userData"></app-navigation>
    </div>

    <div *ngIf="profileUserData" class="user-profile-container">
        <mat-card>
            
            <div  class="img-container">
                <img *ngIf="user_image_url" class="user-profile-img" src={{user_image_url}} alt="">
                
                <img *ngIf="!user_image_url" class="user-profile-img" src='../../../assets/images/defaulf_profile_picture.jpg' alt="">
            </div>
            <div class="user-data-container">
                <mat-card-title>{{profileUserData.firstname}} {{profileUserData.lastname}}</mat-card-title>
            </div>

            <div *ngIf="!userOwnsProfile"  class="buttons">
                <button mat-raised-button>
                    <mat-icon>chat</mat-icon> {{"components.userProfile.buttons.sendMessage" | translate}}
                </button>
                <button  *ngIf="!friendshipData"  mat-raised-button>                    
                        <span (click)="sendFriendRequest()">
                            <mat-icon>person_add</mat-icon> {{"components.userProfile.buttons.add" | translate}}
                        </span>
                    
                    <button mat-icon-button [matMenuTriggerFor]="friendshipOptions">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </button>
                <button *ngIf="friendshipStatus === 'pending-sent'" mat-raised-button>
                    <mat-icon>person</mat-icon> Request sent
                    <button mat-icon-button [matMenuTriggerFor]="friendshipOptions">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </button>
                <button *ngIf="friendshipStatus === 'pending-recieved'" (click)="acceptFriendship()" mat-raised-button>
                    <mat-icon>person</mat-icon> Accept friend
                    <button mat-icon-button [matMenuTriggerFor]="friendshipOptions">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </button>

                <button *ngIf="friendshipStatus === 'accepted'"  mat-raised-button>
                    <mat-icon>verified_user</mat-icon> Friends 
                    <button mat-icon-button [matMenuTriggerFor]="friendshipOptions">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </button>
                <button *ngIf="friendshipStatus === 'blocked'" (click)="unblockUser()" mat-raised-button >
                    Unblock 
                </button>
                <mat-menu #friendshipOptions="matMenu">

                    <button *ngIf="friendshipData" mat-menu-item (click)="cancelFriendship()">
                        <mat-icon>person_remove</mat-icon> Unfriend
                    </button>

                    <button  mat-menu-item (click)="blockUser()">
                        <mat-icon>block</mat-icon>Block
                    </button>

                </mat-menu>
            </div>
        </mat-card>
        
        <mat-card class="options">
            <button (click)="selectView('posts')" mat-raised-button> <mat-icon>feed</mat-icon> {{"components.userProfile.buttons.posts" | translate}}</button>
            <button (click)="selectView('info')" mat-raised-button> <mat-icon>info</mat-icon> {{"components.userProfile.buttons.info" | translate}}</button>
            <button (click)="selectView('photos')" mat-raised-button> <mat-icon>image</mat-icon> {{"components.userProfile.buttons.photos" | translate}}</button>
            <button (click)="selectView('friends')" mat-raised-button> <mat-icon>group</mat-icon> {{"components.userProfile.buttons.friends" | translate}}</button>
        </mat-card>

            
        <div *ngIf="selectedView.posts" class="selected-view-container">
            <app-user-posts [user_id]="profileUserData.user_id" ></app-user-posts>
        </div>

        <div *ngIf="selectedView.info" class="selected-view-container">
            <app-user-info [user_id]="profileUserData.user_id" ></app-user-info>
        </div>

        <div *ngIf="selectedView.photos" class="selected-view-container">
            <app-user-photos [userData]="userData" [profileUser_id]="profileUserData.user_id" ></app-user-photos>
        </div>

        <div *ngIf="selectedView.friends" class="selected-view-container">
            <app-user-friends [userData]="userData" [profileUser_id]="profileUserData.user_id" ></app-user-friends>
        </div>
            
    
    </div>
    
    
    <div *ngIf="!profileUserData">
        User not found
    </div>

</div>