<div *ngIf="commentData" class="wrapper-comment">

    <div class="user-img-container"> 
        <img (click)="goToUserProfile()" class="user-img clickable" src={{user_image_url}} alt="">
    </div>
    <mat-card class="comment-container">
        

            <p (click)="goToUserProfile()" class="user-FN-LN clickable">{{commentData.firstname}} {{commentData.lastname}}</p>
            <mat-label>{{ commentData.date_of_creation | date:"EEEE, MMMM d, y, H:mm:ss" }}</mat-label>
            
            <p class="comment-text">{{commentData.comment_text}}</p>
    </mat-card>

</div>