<div class="wrapper-image-preview-thumbnail">
    
    <img (click)="openFullscreenPreview(imageData)" class="image clickable" src={{imageUrl}} alt="">
    
    <!--

        <mat-icon *ngIf="canDeleteImage" class="clickable delete-icon" (click)="deleteImage()">delete</mat-icon>
        <button mat-button [matMenuTriggerFor]="pictureOptions" class="clickable picture-options">
            <mat-icon>more_vert</mat-icon>
        </button>
    -->

    <mat-icon  *ngIf="!isProfilePicture && userOwnsProfile" mat-button [matMenuTriggerFor]="pictureOptions" class="clickable picture-options">more_vert</mat-icon>
    <mat-menu #pictureOptions="matMenu" class="picture-options-menu" >
        <button *ngIf="canDeleteImage" mat-menu-item (click)="deleteImage()">
           <mat-icon>delete</mat-icon> Delete 
        </button>
        <button mat-menu-item   (click)="setImageAsProfilePicture()">
           <mat-icon>account_box</mat-icon> Set as profile picture
        </button>
    </mat-menu>

    <div *ngIf="isProfilePicture" class="profile-picture-icon"><mat-icon>account_box</mat-icon></div>
</div>
