mat-card.wrapper-user-photos{
    margin: 10px auto 0;
    max-width: 800px;

    .input-upload-img-container{
        position: relative;
        width: 300px;
        .clear-user-image{
            position: absolute;
            top: 15px;
            right: 15px;
        }
        .upload-img{
            width: 100%;
            margin: auto;
        }
    }


    .user-photos-container{

        display: flex;
        flex-wrap: wrap;

        .image-container{
            width: 20%;
        }
    }
}




@media screen and (max-width: 768px) {
    mat-card.wrapper-user-photos{
        .user-photos-container{
    
            .image-container{
                width: 50%;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    mat-card.wrapper-user-photos{
        .user-photos-container{
    
            .image-container{
                width: 100%;
            }
        }
    }
}