<div class="wrapper-post" >
    <mat-card>

        <app-user-post-owner [userData]="userData" [postData]="postData"></app-user-post-owner>

        
        <mat-card-title>{{postData.post_text}}</mat-card-title>
        <div class="likes-comments-counter" (click)="openLikeList()">
            <span *ngIf="noLike">{{'components.post.like.noLike' | translate}}</span>
            <span class="like-link" *ngIf="!noLike">  {{likeCount}}. 
                <span *ngIf="oneLike">{{'components.post.like.oneLike' | translate}}</span>
                <span *ngIf="!oneLike">{{'components.post.like.moreLikes' | translate}}</span>
            </span>
        </div>
        <div class="like-btn-container">
            <button mat-raised-button class="like-btn" [ngClass]="{'postIsLiked': postIsLiked}" (click)="likePost()"><mat-icon>thumb_up_alt</mat-icon> {{"components.post.like.likePostBtn" | translate}}</button>
        </div>


        <mat-expansion-panel hideToggle (opened)="commentPanelOpenState = true" (closed)="commentPanelOpenState = false">
            
            <mat-expansion-panel-header>
                <mat-panel-description *ngIf="!hasNoComment && !commentPanelOpenState">
                   <span>{{"components.post.comment.show" | translate}}&nbsp;{{commentCount}}&nbsp;</span>
                   <span *ngIf="hasOneComment">{{"components.post.comment.comment" | translate}}</span>
                   <span *ngIf="hasManyComments">{{"components.post.comment.comments" | translate}}</span> 
                </mat-panel-description>
                <mat-panel-description *ngIf="hasNoComment && !commentPanelOpenState">
                    {{"components.post.comment.noCommentsYet" | translate}}
                </mat-panel-description>

                <mat-panel-description *ngIf="commentPanelOpenState">
                    <span>{{"components.post.comment.hideComments" | translate}}</span><mat-icon>expand_less</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="comments-wrapper">
                <div class="comment-container" *ngFor="let commentData of commentList">
                    <app-comment [userData]="userData" [commentData]="commentData"></app-comment>
                </div>
            </div>
            <p class="no-comment-message" *ngIf="hasNoComment">{{"components.post.comment.sorryNoComment" | translate}}</p>
        </mat-expansion-panel>
        <div>
            <form [formGroup]="commentForm" class="input-form" (keypress)="commentPost($event)">
                <mat-form-field floatLabel="never" class="input-full-width">
                    <input  formControlName="comment" matInput placeholder='{{"components.post.comment.postCommentPlaceholder" | translate}}'/>
                </mat-form-field>
                
            </form>
        </div>

    </mat-card>

</div>