.wrapper-login{
    background-color: var(--background-color);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    .nav-bar{
        padding: 5px;
        display: flex;
        justify-content: flex-end;
        color: var(--text-color);

        button{
            margin-left: 10px;
            background-color: var(--divider-color);
        }
        
    }
    
    mat-card{
        box-shadow:  0 0 8px 0.5px var(--accent-color);
        border-radius: 4px;
        min-width: 250px;
        display: inline-block;
        margin: 50px auto auto auto;
        text-align: center;
        mat-form-field{
            width: 230px;
        }
    }
    .register-btn{
        color: var(--primary-color);
        &:hover{
            color: var(--accent-color);
        }

    }
}