<div class="wrapper-updateUser" [ngClass]="{'dark-theme' : darkMode, 'light-theme': !darkMode}">
   
        <app-navigation></app-navigation>
    


<div class="flex">

    <mat-card>
        <div>
            
            <!--

                <div class="input-user-img-container">
                    <div class="user-img-container" *ngIf="selectedUserImgSrc">
                        <mat-icon (click)="clearUserImage()">clear</mat-icon>
                        <img class="user-img" src={{selectedUserImgSrc}} alt="">
                    </div>
                    
                    <div>
                        <button mat-raised-button (click)="imgInput.click()">Select Image <mat-icon matSuffix>image</mat-icon></button>
                        <button mat-raised-button *ngIf="selectedUserImg" (click)="uploadImage()"><mat-icon matSuffix>upload</mat-icon></button>
                    </div>
                    
                    <input type="file" accept="image/*"  (change)="onImageSelected($event)" #imgInput>
                </div>
            -->
                    
                    <form [formGroup]="updateUserForm">
                    
                <div class="flex input-block">
                    <p class="input-label">{{"common.user.firstname" | translate}}</p>
                    <mat-form-field>
                        <input id="firstname" formControlName="firstname" matInput />
                        <mat-error *ngIf='updateUserForm.controls.firstname.hasError("required")'
                        >{{"common.user.firstname" | translate}}{{"common.user.errorMessages.isRequired" | translate}}</mat-error>
                        <mat-error *ngIf='updateUserForm.controls.firstname.hasError("minlength")'
                        >{{"common.user.errorMessages.minlength4" | translate}}</mat-error>
                    </mat-form-field>
                </div>
                
                <div class="flex input-block">
                    <p class="input-label">{{"common.user.lastname" | translate}}</p>
                    <mat-form-field>
                        <input id="lastname" formControlName="lastname" matInput/>
                        <mat-error *ngIf='updateUserForm.controls.lastname.hasError("required")'
                        >{{"common.user.lastname" | translate}}{{"common.user.errorMessages.isRequired" | translate}}</mat-error>
                        <mat-error *ngIf='updateUserForm.controls.lastname.hasError("minlength")'
                        >{{"common.user.errorMessages.minlength4" | translate}}</mat-error>
                    </mat-form-field>
                </div>
                
                <div class="flex input-block">
                    <p class="input-label">{{"common.user.email" | translate}}</p>
                    <mat-form-field>
                        <input id="email" formControlName="email" matInput readOnly/>
                    </mat-form-field>
                </div>
                
                <div class="flex input-block">
                    <p class="input-label">{{"common.user.username" | translate}}</p>
                    <mat-form-field>
                        <input id="username" formControlName="username" matInput/>
                    </mat-form-field>
                </div>
                
                <div class="flex input-block">
                    <mat-checkbox formControlName="changePassword" >Change password</mat-checkbox>
                </div>
                
                
                <div *ngIf="updatePasswordIsVisible">
                    <div class="flex input-block">
                        <p class="input-label">{{"common.user.newPassword" | translate}}</p>
                        <mat-form-field>
                            <input id="newPassword" formControlName="newPassword" type="text" matInput/>
                            <mat-error *ngIf='updateUserForm.controls.newPassword.hasError("minlength")'
                            >{{"common.user.errorMessages.minlength6" | translate}}</mat-error>
                            
                            <mat-error *ngIf='updateUserForm.controls.newPassword.hasError("required")'
                            >{{"common.user.newPassword" | translate}}{{"common.user.errorMessages.isRequired" | translate}}</mat-error>
                            
                        </mat-form-field>
                    </div>
                    
                    <div class="flex input-block">
                        <p class="input-label">{{"common.user.confirmPassword" | translate}}</p>
                        <mat-form-field>
                            <input id="confirmNewPassword" formControlName="confirmNewPassword" matInput/>
                            <mat-error *ngIf='updateUserForm.controls.confirmNewPassword.hasError("required")'
                            >{{"common.user.confirmNewPassword" | translate}}{{"common.user.errorMessages.isRequired" | translate}}</mat-error>
                            <mat-error *ngIf='updateUserForm.controls.confirmNewPassword.hasError("minlength")'
                            >{{"common.user.errorMessages.minlength6" | translate}}</mat-error>
                            <mat-error *ngIf='updateUserForm.controls.confirmNewPassword.hasError("confirmedValidator")'
                            >{{"common.user.errorMessages.passwordsDontMatch" | translate}}</mat-error>
                        </mat-form-field>
                    </div>                
                </div>
                
            </form>
        </div>
        
        <div class="btn-container">
            <button mat-flat-button color="warn" (click)="cancelUpdate()">Back</button>
            <button mat-flat-button color="primary" (click)="updateUser()" [disabled]=!updateUserForm.valid>Save</button>
        </div>
        
    
    </mat-card>
    

    </div>
</div>